body {
    background-color:rgb(0, 19, 32) ;
    color: white;
}

h1 {
    text-decoration: underline overline;
}
h4 {
    text-decoration: underline overline;
    color: gray;   
}
h3 {
    text-decoration: underline overline;
    color: white;
}
h1 {
    text-decoration: underline overline;
}
h2 { 
    text-decoration: underline overline;
}
/* Solid Green rounded */
hr {
    border: 3px solid rgb(187, 0, 0);
    border-radius: 3px;
}
/* unvisited link */
a:link {
    color: rgb(187, 0, 0)
}
/* visited link */
a:visited {
    color: grey
}
div.ex1 {
    width: 1270px;
    background-color: black;
    color: white;
}